/* Page - Background Color */
body {
    background-color: #d9dcd6;
}

/* CSS Box */
*{
    box-sizing: border-box;
    padding: 22;
    margin: 0;
}

/* Header CSS Positioning */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header - Horioson Position and Font Size */
 .header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header - Color of "Seo" Letters inside the Word of Horiseon */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header - Navigation Floated to the Right side of the Page */
.header nav {
    float: right;   
}

/* Header - Each Link's CSS Positioning */
.header nav li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header - Link's Color with no Decoration */
.header nav div ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraphs Font Size */
.header main aside footer p {
    font-size: 16px;
}

/* Section - of Page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main - Content of the Page*/
main.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Main_Articles - Decoration and Formating */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Main_Article 1 & 3 - Images are Floated Left */
.content article .float-left {
    float: left;
    margin-right: 25px;
}

/* Main_Article 2- Image is Floated Right */
.content article .float-right {
    float: right;
    margin-left: 25px;
}

/* Main_Article - Size of Images */
.content article img {
    max-height: 200px;
    border: solid 1px;
}

/* Main_Article - Margin & Font Size */
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Asside - CSS Box Positioning */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* Asside_Article - Margin & Color */
.benefit {
    margin-bottom: 32px;
    
}

/* Asside_Article - Margin & Text Allignment */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Asside_Article - Images Sizes */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer - of Page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
}

footer h4 {
    font-size: 20px;  
}
